<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
</head>
<body>
    <div class="user_info"></div>
    <div class="userbooks">
        {% for b in userbooks %}
            <p>b.title</p>
        {% endfor %}
    </div>
    <div class="recommend">
            <table>
                <caption>推荐书目</caption>
                {% for r in urcommend %}
                <tr align="center">
                    <td><a href="/book/{{r.bid}}">{{r.title}}</a></td>
                    <td>作者:{{r.author}}</td>
                </tr>
                 {% endfor %}
            </table>
    </div>


</body>
</html>